/* Discounts
---------------------------------------- */



#criteria-edit_products .field {
	float: left;
	width: 50%;
}

.choose {
	position: relative;
	padding-bottom: 0;
}

.choose .option {
	float: left;
	width: 46%;
}

.choose .or {
	float: left;
	margin-top: 31px;
	width: 8%;
	text-align: center;
}

.choose .option .add-on {
	max-width: 100%;
	width: 100%;
}

.choose .field-wrap .field label {
	position: absolute;
	top: -23px;
	left: 170px;
}	

/* Bundles */ 

.field input, 
.field textarea, .field select {
  width: 50%;
}

input[type=date] {
  width: 50%;
  margin-right: 0;
  margin-bottom: 25px;
}

.add-on {
  max-width: 50%;
  width: auto;
}

.add-on div {
	width: 80%;
}

.add-on input {
	width: 100%;
}

.field.inline input[type="checkbox"] {
	margin-top: 4px;
}

table.bundles form:after {
	content: '';
	margin: 0;
}