{% extends 'Message:Mothership:Discount::detail-layout' %}

{% block discount_form %}

<div class="container-content edit-discount">
	{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type="submit" class="button small save">Save discount</button>
	{{ form_end(form) }}
</div>

{% endblock %}