{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Discount::Controller:Sidebar#index')) }}
{% endblock %}

{% block main %}
	<div class="dashboard">
		<div class="modules">
			{% for reference.reference in dashboardReferences %}
				{{ render(controller(reference)) }}
			{% endfor %}
		</div>
	</div>
{% endblock %}