<div class="topbar discounts">
	<ul class="tabs">
		<li>
			<a href="{{ url('ms.discount.edit', {discountID: discount.id}) }}" data-live>Attributes</a>
		</li>
		<li>
			<a href="{{ url('ms.discount.edit.benefit', {discountID: discount.id}) }}" data-live>Benefit</a>
		</li>
		<li>
			<a href="{{ url('ms.discount.edit.criteria', {discountID: discount.id}) }}" data-live>Criteria</a>
		</li>
		<li>
			<a href="{{ url('ms.discount.view.orders', {discountID: discount.id}) }}" data-live>Orders</a>
		</li>
	</ul>
</div>
