{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Discount::Controller:Sidebar#index')) }}
{% endblock %}

{% block main %}

<hgroup class="title">
	<h1>Create a discount</h1>
</hgroup>

<div class="container-content create-discount">
	{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type="submit" id="save-content" class="button small save">Create discount</button>
	{{ form_end(form) }}
</div>
{% endblock %}