{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
{% endblock %}

{% block main %}
{% include 'Message:Mothership:Discount::discount:tabs' %}
<hgroup class="title">
	<h1>Edit discount</h1>
</hgroup>

	{% block discount_form %}
	{% endblock %}

{% endblock %}