<div class="topbar products">
	<ul class="tabs">
		<li class="active">
			<a href="{{ url('ms.discount.edit', {discountID: discount.id}) }}" data-liv>Attributes</a>
		</li>
		<li class="">
			<a href="{{ url('ms.discount.edit.discount-details', {discountID: discount.id}) }}" data-live>Discount Details</a>
		</li>
		<li class="">
			<a href="{{ url('ms.discount.edit.products', {discountID: discount.id}) }}" data-live>Products</a>
		</li>
	</ul>
</div>
