{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Discount::Controller:Sidebar#index')) }}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>Create bundle</h1>
	</hgroup>

	<div class="container-content">
		{% include 'Message:Mothership:Discount::bundle:bundle-form' with { 'form': form, 'currencies': currencies } only %}
	</div>
{% endblock %}